.jlert-container {
    width: 250px;
    min-width: 150px;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99999;
    margin: 20px;
}
.style-jlert {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f9f9ea;
}
.text-jlert {
    font-size: 13px;
}
.icon-jlert {
    height: 100%;
    position: absolute;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-jlert {
    left: 0;
    top: 0;
    border-radius: 5px 0px 0px 5px;
}
.right-jlert {
    right: 0;
    top: 0;
    border-radius: 0px 5px 5px 0px;
}
.left-jlert-text {
    margin-left: 35px;
}
.right-jlert-text {
    margin-right: 35px;
}

.top-left-jlert {
    top: 0;
    left: 0;
}
.top-right-jlert {
    top: 0;
    right: 0;
}
.bottom-left-jlert {
    bottom: 0;
    left: 0;
}
.bottom-right-jlert {
    bottom: 0;
    right: 0;
}
.top-center-jlert {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.bottom-center-jlert {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.btn-close-jlert {
    position: absolute;
    z-index: 1;
    right: -8px;
    top: -10px;
    background: whitesmoke;
    box-shadow: 0px 0px 3px #aaa;
    cursor: pointer;
    color: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 10px;
    visibility: hidden;
}
.progressBar-jlert {
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0px;
    border-radius: 0px 0px 5px 5px;
    height: 4px;
    background: #0652DD;
}
.jlert-container:hover > div > .btn-close-jlert {
    visibility: visible;
}
.jlert-container-jlert {
    display: flex;
    flex-direction: column;
}
.jlert-gum-animation {
    animation: gum 1s infinite 0.1s;
}
.jlert-intermittent-animation {
    animation: intermittent 1s infinite 0.1s;
}
@keyframes dblclick {
    40% {
      transform: scale(1.1);
    }
    20%, 60% {
      transform: scale(0.8);
    }
  }
  @keyframes gum {
    30% {
      transform: scaleX(1.25) scaleY(0.75);
    }

    40% {
      transform: scaleX(0.75) scaleY(1.25);
    }

    60% {
      transform: scaleX(1.15) scaleY(0.85);
    }
  }
  @keyframes intermittent {
    25%, 75% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }